#parallax {
  background-image: url("drone2.jpg");
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  animation: fade 2s;
  z-index: 0;
}

#main_title{
  display:inline;
  font-family: sans-serif;
  text-align: center;
  line-height: 500px;
  z-index: 1;
}

#main_title>h1 {
  font-family: verdana;
  font-weight: 100;
  margin: 0;
  padding: 0;
  font-size: 60px;
  color: #FFFFFF;
 transition: color 2s ease;
  animation: fadeInUp 1s ease-out;
  z-index: 2;
}

#block_container {
  margin: auto;
  width: 100%;
}

#block_container>img{
  display: block;
  margin: auto;
}

.main_container {
  margin: auto;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}

.flex_container {
  display: flex;
  margin: auto;
  padding: 10px;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  animation: heightAdjust 2s ease;
}

.flex_container div {
  padding: 0;
  font-size: 24px;
  background-color:lightgray;
  flex-basis: 32%;
  border-radius: 2px;
  min-height: 120px;
}

.flex_container div p {
  font-family: verdana;
  text-align: center;
  color:#20515b;
  padding: 0;
  margin: 0;
  font-size: .7em;
}

body{
margin: 0 auto;
padding: 0;
background-color: #2f3241;
}

@viewport {
  width: device-width;
}

@keyframes fadeInUp {
  from {opacity: 0; transform: translate(0,20px);}
  to {opacity: 1; transform: translate(0, 0);}
}

@keyframes fadeInDown {
  from {opacity: 0; transform: translate(0,-20px);}
  to {opacity: 1; transform: translate(0,0);}
}

@keyframes fade {
  from{opacity: 0;}
  to{opacity: 1;}
}
