#parallax {
  background-image: url("drone2.jpg");
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  animation: fade 2s;
  z-index: 0;
}

#main_title{
  display:inline;
  text-align: center;
  line-height: 500px;
  z-index: 1;
}

#main_title>h1 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 60px;
  color: #FFFFFF;
 transition: color 2s ease;
  animation: fadeInDown 1s ease-out;
  animation: expand 3s ease;
  letter-spacing: .1em;
  z-index: 2;
}

#block_container {
  margin: auto;
  width: 100%;
}

#block_container>img{
  display: block;
  margin: auto;
}

.main_container {
  margin: auto;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}

.flex_container {
  display: flex;
  margin: auto;
  padding: 10px;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  animation: heightAdjust 2s ease;
}

.flex_container div {
  padding: 0;
  font-size: 24px;
  flex-basis: 32%;
  border-radius: 2px;
  min-height: 120px;
}

.flex_container div p {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-align: center;
  color:#20515b;
  padding: 0;
  margin: 0;
  font-size: .7em;
}

#descriptor {
  width: 70%;
  margin: auto;
}

#descriptor p {
  font-family: Roboto, sans-serif;
  font-size: 1.5em;
  text-align: center;
  vertical-align: middle;
  color: #20515b;
  animation: fadeInUp 1s;
}

body{
margin: 0 auto;
padding: 0;
background-color: #2f3241;
}

@media screen and (max-width: 600px){
  .flex_container {
    flex-direction: column;
    align-items: center;
  }
  .flex_container div {
    flex-basis: 100%;
    margin: 10px;
    width: 100%;
  }
}

@viewport {
  width: device-width;
}

@keyframes expand {
  from {letter-spacing: 0;}
  to {letter-spacing: .1em;}
}

@keyframes fadeInUp {
  from {opacity: 0; transform: translate(0,20px);}
  to {opacity: 1; transform: translate(0, 0);}
}

@keyframes fadeInUpDelay {
  0% {opacity: 0; transform: translate(0,20px);}
  60% {opacity: 0; transform: translate(0,10px);}
  100%{opacity: 1; transform: translate(0,0px);}
}

@keyframes fadeInDown {
  from {opacity: 0; transform: translate(0,-20px);}
  to {opacity: 1; transform: translate(0,0);}
}

@keyframes fade {
  from{opacity: 0;}
  to{opacity: 1;}
}
