.nav_container {
  display:flex;
  height: 3em;
}
.nav_container a{
  font-family: verdana;
  font-size: .9em;
  text-decoration: none;
  color: #9feaf9;
  padding: 15px; 5px;
  box-sizing: border-box;
}

.nav_container a:hover{
  border-bottom: 2px solid #9feaf9;
}
